mixin menuLink(title, href = "#")
  li.header-menu-item
    a.header-menu-link(href=href)=title

mixin headerBottom(number, title)
  .header-bottom-item(class!=attributes.class)
    span.header-bottom-number=number
    span.header-bottom-text=title

mixin blockBox(caption, title, description)
  .block-box
    h3.block-box-caption=caption
    h2.block-box-title=title
    if description
      p.block-box-description=description

mixin aboutItem(src, title, iconClass, alt = "")
  .about-item
    img.about-img(src=src, alt=alt)
    .about-content
      i.about-icon(class=iconClass)
      span.about-title=title

mixin numberItem(count, item)
  .number-item
    h4.number-item-count=count
    span.number-item-text=item